@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); 

body{ 
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;} /*formatação de estilo do body*/
    
 header{background-color: #ce6c21;
        padding: 10px; } /*cabeçalho*/
    
h1 { text-align: center;
    font-size: 3rem;
    font-weight: 400;} /*formatação de título geral*/ 

h2 {font-weight: 600;}
    
#navegacao-de-paginas a { margin-left: 3.5vw; 
     color: black;
    font-size: 1.4rem;} /*links do cabeçalho geral*/  
            
 main { background-color: whitesmoke; 
        font-size: larger;
        padding: 20px;} /*parte principal da página*/ 
                
h3 { font-size: 1.8rem;
        font-weight: 400;} /*formatação geral do título h3*/

 p { line-height: 1.5;
     margin: 1rem 0; } /*formatação geral de parágrafo*/

img { width: 30vw;
    margin-top: .8vw;
    border-radius: 5%;
    float: left;} /*foto profissional da página inicial*/

.ancoraContatoPessoal a{
    text-decoration: none;
    margin-left: .5vw;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vw;
    font-weight: 500;}

div.paragrafodireito { 
    margin-left: 32vw;
    margin-right: 3vw;
    text-align: justify;
    font-size: 1.3rem;} /*parágrafo de apresentação página inicial*/

div.colunasFormacaoAcademica {
    column-count: 2; 
    column-gap: 2vw;
    column-rule: 20%;} /*divisão de colunas em formação acadêmica*/

.projetoPolitec img {
        width: 20%;
        margin-right: 2vw;
    } /*imagem de perfil politec na aba projetos acadêmicos */

.projetoPolitec p {
    text-align: justify;
    margin-left: 3vw;
    margin-right: 10vw;} /*parágrafo de explicação do politec na aba projetos acadêmicos */

table {
    width: 40vw;
    border-collapse: collapse;} /*tabela de líguas na aba de idiomas*/

th, td {
    border: .5vw solid #ddd;
    padding: 1VW;
    text-align: center;} /*formatação das linhas e colunas da tabela de idioma*/

.tituloContato h3{
    margin-left:.5vw;
}


article { 
    width: 30%;
    background-color: #B784B7;
    padding: 1rem ;} /*formatação de artigo na aba de certificações*/
    
article { width: 30%;} /*formatação de artigo na aba de certificações*/

article header{
    background-color: #AD88C6;} /*formatação do cabeçalho do artigo na aba de certificações*/

article p{
    background-color: #FFE6E6;
    margin-top: 0%;} /*formatação do parágrafo do artigo na aba de certificações*/

article h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: .5vw;} /*formatação do título do artigo na aba de certificações*/

    
 article h2{
     font-size: 1.5rem;
    font-weight: 600;
     text-align: justify;
     margin-bottom:.2vw} /*formatação do título do artigo na aba de certificações*/
        
 #tecnologia {display: flex;
    justify-content:space-evenly;
    text-align: justify;} /*formatação do id do artigo na aba de certificações, deixando em formato de artigos separados*/
            
#certificacoesCabecalho {
     background-color: #7469B6;}
                
 #certificacoesMain {
      background-color: #E1AFD1;
                }
                
.continueLendo { background-color: #E6B9DE;
  padding: .5rem 1rem;
  margin-top: 1rem;  
  border-radius: 8px;
 
}

.continueLendo a{
    color: #ffffff;
    text-decoration: none;
}
